/* Global */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --bgcolor: white;
  --bgcolor-dark: #0b192f;

  --primary: #85e7ca;
  --secondary: limegreen;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgcolor);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
  font-size: 1rem;
}

a {
  /* anchor tags ignore top/bot padding, use: */
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  /* border: solid darkblue 3px; */
  /* width: calc(100% - 200px);
    max-width: 1000px; */
  width: min(70rem, 100% - 2rem);
  /* margin-left: auto;
    margin-right: auto; */
  margin-inline: auto;

  padding-block: 10px;
}

.button-link {
  background-color: var(--primary);
  padding: 14px 16px;
  border-radius: 8px;
  color: black !important;
  text-decoration: none;

  transition: background-color 0.4s ease;
}

.button-link:hover,
.button-link:focus {
  background-color: var(--secondary);
}

header,
#intro,
#skills,
footer {
  background-color: var(--bgcolor-dark);
  color: white;
}

header a,
#intro a,
#skills a,
footer a {
  color: var(--primary);
}

/*  Accessibility ------------------ */

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  color: black;
  margin-inline: auto;
  font-size: 0.875rem;
  transform: translateY(-120%);
}

.skip-to-content:focus {
  transform: translateY(0);
  transition: transform 250ms ease-in;
  background-color: transparent;
  color: black;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 9999;

  border-bottom: solid gray 1px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

#my-name {
  font-size: 18px;
}

header .button-link {
  padding: 8px 10px;
}

/* DESKTOP NAV */

.menu-toggle {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a:not(.button-link) {
  color: white;
  font-weight: 600;
}

/* MOBILE NAV */

@media (max-width: 40rem) {
  .menu-toggle {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 99999;
  }

  nav ul {
    display: none;
  }

  nav.open ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--bgcolor-dark);
    width: 100vw;
    height: 100vh;
    z-index: 99998;

    position: fixed;
    inset: 0;
  }
}

/* Intro */

#intro {
  text-align: center;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-block: 100px;

  background: linear-gradient(
    to right,
    rgb(255, 0, 0, 0.799),
    rgb(0, 0, 255, 0.799) /*
    url("project.jpg") */
  );
  background-size: cover;
}

#intro .container > * {
  margin-top: 20px;
}

h1 {
  font-size: clamp(1.25rem, calc(0.9rem + 1.74vw), 2.25rem);
  margin: 0;
}

/* Skills */

#skills ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

@media (min-width: 34rem) {
  #skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

/* Portfolio */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* grid-template-columns: minmax(0, 1fr); */
  gap: 40px;
}

.grid-container img {
  aspect-ratio: 1.4;
  object-fit: cover;
}

/* Selects every paragraph which has <br> immediately after it */
p:has(+ br) {
  border: solid rgb(85, 82, 82) 2px;
}

/* Pseudo Element */

article h3 {
  position: relative;
}

article h3::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--primary);
  bottom: -10px;
  left: 0;
}

/* Footer */

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-block: 10px;
}
